:root {
    --all-red: #dc0005; 
    --all-blue: #000e31; 
  }

.Product1{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-position: center;
    background-size: cover;
}
.Product1-h1{
    text-align: center;
    padding: 3vw 0;
    font-size:3.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
}


@media (max-width: 768px) {
    .product1-parent{
        padding: 0;
    }
    .Product1-h1{
        padding:16vw 0;
        font-size:5vw;
    }

}

@media (max-width: 480px) {
    .Product1{
      height: auto;
    }
    .Product1-h1{
        margin: 5vw 0 0;
        padding: 20vw 0;
        font-size:6vw;
    }
   
}