.about2 {
    height: 100vh; 
    display: flex;
    flex-direction: row;
    background-position: center;
    background-size: cover;
}

.about2-h1 {
    padding: 3vw 0;
    padding-bottom: 0.5vw;
    font-size: 2.5vw;
    font-weight: 900;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.about2-parent {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 12vw;
}

.about2-btn {
    text-align: center;
    padding: 0.5vw 3vw;
    color: white;
    font-size: 1vw;
    font-weight: 600;
    text-transform: capitalize;
}

.vision {
    margin: 1.5vw 0;
}

.vision-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 65vw;
    max-height: 85vw;
    width: 23vw;
    height: 35vw; 
    padding: 1vw 1.5vw;
    background-color: white;
    border: 2px solid white;
    border-radius: 15px;
    margin: 0 2vw 1vw 2vw;
    box-shadow: 5px 5px red;
    text-align: center;
}
.vision-pic,
.mision-pic
{
    padding: 0.5vw 0;
}
.vision-head{
    font-size: 2vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--all-blue);
}
.vision-box ul li{
    font-size: 0.9vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: var(--all-blue);
    text-align: left;
    padding: 0.2vw 0;
}
.vision-box ul li span{
    font-weight: 700;
}
@media (max-width: 920px) {
    .about2 {
        flex-direction: row;
        padding-bottom: 10vw;
    }
    .about2-h1 {
        padding: 3vw 0;
        padding-bottom: 0;
        font-size: 5vw;
    }
    .about2-parent{
        padding: 0;
    }
    .vision{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .vision-box {
        width: 35vw;
        height: 50vw; 
        padding: 1vw 2vw;
        margin: 5vw 0 3vw;
    }
    .vision-pic{
        width: 10vw;
        height: 8vw;
    }
    .mision-pic{
        width: 10vw;
        height: 10vw;
    }
    .vision-head{
        font-size: 4vw;
    }
    .vision-box ul li{
        font-size: 1.6vw;
        padding: 0.2vw 0;
    }
    .vision-box ul li span{
        display: none;
    }
}
@media (max-width: 768px) {
    .about2 {
        flex-direction: row;
        padding-bottom: 10vw;
    }
    .about2-h1 {
        padding: 3vw 0;
        padding-bottom: 0;
        font-size: 5vw;
    }
    .about2-parent{
        padding: 0;
    }
    .vision{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .vision-box {
        width: 35vw;
        height: 49vw; 
        padding: 1vw 2vw;
        margin: 5vw 0 3vw;
    }
    .vision-pic{
        width: 10vw;
        height: 8vw;
    }
    .mision-pic{
        width: 10vw;
        height: 10vw;
    }
    .vision-head{
        font-size: 4vw;
    }
    .vision-box ul li{
        font-size: 1.6vw;
        padding: 0.2vw 0;
    }
    .vision-box ul li span{
        display: none;
    }
}

@media (max-width: 480px) {
    .vision-box {
        width: 55vw;
        height: 80vw; 
        margin: 0vw 4vw 12vw;
    }
    .about2-h1 {
        padding: 6vw 0 3vw;
        font-size: 7vw;
    }
    .vision-pic{
        width: 17vw;
        height: 15vw;
    }
    .mision-pic{
        width: 14vw;
        height: 14vw;
    }
    .vision-head{
        font-size: 4vw;
    }
    .vision-box ul li{
        font-size: 2.7vw;
        padding: 0.2vw 0;
    }
}
@media (max-width: 381px) {

    .vision-box {
        width: 55vw;
        height: 75.8vw; 
        margin: 0vw 4vw 6vw;
    }
    .about2-h1 {
        padding: 3vw 0 3vw;
        font-size: 6vw;
    }
    .vision-pic{
        width: 14vw;
        height: 9vw;
    }
    .mision-pic{
        width: 10vw;
        height: 10vw;
    }
    .vision-head{
        font-size: 4vw;
    }
    .vision-box ul li{
        font-size: 2.7vw;
        padding: 0.2vw 0;
    }
}@media (max-width: 365px) {
    .vision-box {
        width: 55vw;
        height: 80vw; 
        margin: 0vw 4vw 12vw;
    }
    .about2-h1 {
        padding: 6vw 0 3vw;
        font-size: 7vw;
    }
    .vision-pic{
        width: 17vw;
        height: 15vw;
    }
    .mision-pic{
        width: 14vw;
        height: 14vw;
    }
    .vision-head{
        font-size: 4vw;
    }
    .vision-box ul li{
        font-size: 2.7vw;
        padding: 0.2vw 0;
    }
}