.about1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
  }
  .about-h1 {
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5vw;
    padding: 3vw 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
  .about-parent {
    flex: 1; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-family: "Montserrat", sans-serif;
  }

  .about-left{
    width: 50%;
    height: auto;
    padding: 1vw 1vw 1vw 7vw;
  }
  .about-h2 {
    font-weight: 900;
    font-size: 2.3vw;
    color: white;
    text-transform: uppercase;
  }
 
  .about-p,
  .about-p2{
    padding: 1vw 0;
    font-size: 1vw;
    padding-right: 4vw;
    font-weight: 600;
    color: white;
  }
  
  .about-btn {
    text-align: center;
    padding: 0.5vw 4vw;
    color: white;
    margin: 1vw 0;
    font-size: 1.1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
  }
  
  .about-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about1-pic{
    padding: 3.4vw 0 1vw;
  }
  @media screen and (max-width:920px){
    .about-parent {
      flex: 0;
      padding-top: 12vw;
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .about-h1 {
      font-size: 5.3vw;
      padding: 12vw 0 0;
    }
    .about-left{
      width: 100%;
      max-height: 50%;
      padding: 10vw 7vw 6vw;
      flex: 0;
      text-align: center;
    }
    
    .about-h2 {
      font-weight: 900;
      font-size: 3.5vw;
      padding: 0;
    }
    .about-p,
    .about-p2 {
      font-size: 2vw;
      padding:2vw 0 1vw;
    }
    .about-btn {
      padding: 1.1vw 9vw;
      font-size: 3vw;
      margin: 1vw 0 2vw;
    }
    .about-right{
      width: 100%;
      max-height: 40%;
      flex:0;
    }
  .about1-pic{
    width: 30%;
  }
  }
  @media screen and (max-width:860px){
    .about-h1 {
      font-size: 5.3vw;
      padding: 12vw 0 0;
    }
    .about-left{
      padding: 8vw 7vw 6vw;
      flex: 0;
      text-align: center;
    }
    
    .about-h2 {
      font-weight: 900;
      font-size: 3.38vw;
      padding: 0;
    }
    .about-p,
    .about-p2 {
      font-size: 2vw;
      padding:2vw 0;
    }
  }
  @media screen and (max-width:769px){
    .about-h1 {
      font-size: 5.3vw;
      padding: 13vw 0 0;
    }
    .about-parent {
      flex: 0;
      padding-top: 9vw;
    }
    .about-left{
      padding: 4vw 7vw;
      flex: 0;
      text-align: center;
    }
    .about-p,
    .about-p2 {
      font-size: 1.86vw;
      padding:2vw 0;
    }
    .about-h2 {
      font-size: 3vw;
      padding: 0 12vw;
    }
   
    .about1-pic{
      width: 25%;
    }
  }
  @media screen and (max-width:550px){
    .about-h1 {
      font-size: 5.3vw;
      padding: 14vw 0 0;
    }
    .about-parent {
      padding-top: 3vw;
    }
  }
  @media screen and (max-width:480px){
    .about-h1 {
      font-size: 6vw;
      padding: 20vw 0 0;
    }
    .about-parent {
      padding-top: 15vw;
    }
    .about-left{
      padding: 10vw 7vw;
    }
    
    .about-h2 {
      font-size: 4vw;
      padding: 2vw 2vw 0;
    }
    .about-p,
    .about-p2 {
      font-size: 2.5vw;
      padding:2vw 0;
    }
    .about1-pic{
      margin-top: 3vw;
      width: 40%;
    }
  }
  @media screen and (max-width:385px){
    .about-h1 {
      font-size: 6vw;
      padding: 20vw 0 0;
    }
    .about-parent {
      padding-top: 15vw;
    }
    .about-left{
      padding: 10vw 7vw;
    }
    
    .about-h2 {
      font-size: 4vw;
      padding: 0vw 5vw 2vw;
    }
    .about-p,
    .about-p2 {
      font-size: 2.2vw;
      padding:2vw 0;
    }
    .about1-pic{
      margin-top: 3vw;
      width: 35%;
    }
  }
  @media screen and (max-width:378px){
    .about-h1 {
      font-size: 6vw;
      padding: 20vw 0 0;
    }
    .about-parent {
      padding-top: 2vw;
    }
    .about-left{
      padding: 6vw 7vw;
    }
    
    .about-h2 {
      font-size: 3.5vw;
      padding: 2vw 5vw 0;
    }
    .about-p,
    .about-p2{
      font-size: 2.2vw;
      padding:2vw 0;
    }
    .about1-pic{
      margin-top: 3vw;
      width: 32%;
    }
  }
  @media screen and (max-width:365px) and (max-height:800px){
    .about-h1 {
      font-size: 6vw;
      padding: 20vw 0 0;
    }
    .about-parent {
      padding-top: 12vw;
    }
    .about-left{
      padding: 6vw 7vw;
    }
    
    .about-h2 {
      font-size: 3.8vw;
      padding: 2vw 5vw 0;
    }
    .about-p,
    .about-p2 {
      font-size: 2.5vw;
      padding:2vw 0;
    }
    .about1-pic{
      margin-top: 4vw;
      width: 35%;
    }
  }
